<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" dir="ltl" lang="pt-br">

<head>
    <title>Recuperação de senha</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>

<body>
    <table cellpadding="0" cellspacing="0" border="0" width="100%"
        style="background-color: transparent; font-family: Arial, sans-serif;">
        <tr>
            <td align="center" valign="top" style="padding: 20px;">
                <p>Olá, <%= name %>!</p>
                <p>Você esqueceu a sua senha?</p>
                <p><a href="http://localhost:3000/recover/<%= id %>">CLIQUE AQUI</a>, para crair uma nova senha de acesso.</p>
                <p>Você será redirecionado a uma página do sistema, onde poderá cadastrar uma nova senha com segurança!</p>
            </td>
            <hr />
        </tr>
    </table>
    <br />
    <br />
    <table cellpadding="0" cellspacing="0" border="0" width="100%"
        style="background-color: #000000; font-family: Arial, sans-serif;">
        <tr>
            <td align="center" valign="top" style="padding: 20px;">
                <img style="height: 30%; height: 30%;" src="http://localhost:3333/files/logo.png" alt="sumig">
                <p style="color: #f4f4f4;">SUMIG Soluções para Solda e Corte LTDA</p>
                <p style="color: #f4f4f4;">Endereço: Av. Ângelo Corsetti 1281</p>
                <p style="color: #f4f4f4;">CEP: 95042-000</p>
                <p style="color: #f4f4f4;">Cidade: Caxias do Sul</p>
                <p style="color: #f4f4f4;">CNPJ: 92.236.629/0001-53</p>
                <p style="color: #f4f4f4;">Telefone: (54) 3220-3900</p>
            </td>
        </tr>
    </table>
</body>

</html>